# 21 - Clean up degree types

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
degrees = pd.read_csv(os.path.join('..',"raw_data","degrees.csv"))

In [4]:
degrees.head()

,id,object_id,degree_type,subject,institution,graduated_at,created_at,updated_at
0,1,p:6117,MBA,NaN,NaN,NaN,2008-02-19 03:17:36,2008-02-19 03:17:36
1,2,p:6136,BA,"English, French","Washington University, St. Louis",1990-01-01,2008-02-19 17:58:31,2008-02-25 00:23:55
2,3,p:6136,MS,Mass Communication,Boston University,1992-01-01,2008-02-19 17:58:31,2008-02-25 00:23:55
3,4,p:6005,MS,Internet Technology,University of Greenwich,2006-01-01,2008-02-19 23:40:40,2008-02-25 00:23:55
4,5,p:5832,BCS,"Computer Science, Psychology",Rice University,NaN,2008-02-20 05:28:09,2008-02-20 05:28:09

In [5]:
degrees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109610 entries, 0 to 109609
Data columns (total 8 columns):
id              109610 non-null int64
object_id       109610 non-null object
degree_type     98392 non-null object
subject         81298 non-null object
institution     109555 non-null object
graduated_at    58054 non-null object
created_at      109610 non-null object
updated_at      109610 non-null object
dtypes: int64(1), object(7)
memory usage: 6.7+ MB

In [6]:
def degree_clean(x):
    x_lower = str(x).lower()
    if "phd" in x_lower:
        return "PhD"
    if "ph.d" in x_lower:
        return "PhD"
    if x == "MENG" or x=="MSE" or x=="ME" or x_lower=='master of engineering' or x_lower=="m.s."\
    or x_lower=="m.s" or x_lower=="m.e." or x_lower=="mcs" or x_lower=="mca" or x_lower=="msme"\
    or x_lower=="masc" or x_lower=="m.s.e" or x_lower=="master of science":
        return "MS"
    if x=="M.S.Eng":
        return 'MS'

    if x_lower=="master degree" or x_lower=="masters" or x_lower=="masters degree" or x_lower=="maitrise"\
    or x_lower=="magister" or x_lower=="deug":
        return "Master"

    if x_lower=="diploma" or x_lower=="diplom" or x_lower=="certificate" or x_lower=="certification"\
    or x_lower=='honours' or x_lower=="minor" or x_lower=='fellowship' or x_lower=="incomplete"\
    or x_lower=="honors" or x_lower=="laurea" or x_lower=="cfa" or x_lower=="unknown"\
    or x_lower=="major" or x_lower=="specialist" or x_lower=='advanced management program'\
    or x_lower=="exchange" or x_lower=="hsc" or x_lower=="entrepreneurship" \
    or x_lower=="international baccalaureate" or x_lower=="amp" or x_lower=="diplom-kaufmann" or \
    x_lower=="certified" or x_lower=="diplom kaufmann":
        return np.nan

    if x=="Bachelor of Arts (B.A.)" or x=="BA / BA (Hons)" or x=="AB" or x=="A.B.":
        return "BA"

    if x=="Bachelor of Science (B.S.)" or x=="BE" or x_lower=="bsme" or x=="BENG" or x_lower=="b.s"\
    or x_lower=="bachelors in engineering" or x_lower=="bachelors of engineering" or x_lower=="bca" or \
    x_lower=="bachelor of information technolo" or x_lower=="bmath" or x_lower=="bee":
        return "BS"
    if x=="Master of Business Administratio":
        return "MBA"
    if x == "B of Eng" or x=="Bachelor of Civil Engineering" or x=="B.S. in Electrical Engineering" \
    or x=="BS, Civil Engineering" or x_lower=="bsc" or x_lower=='bcs':
        return "BS"

    if x_lower=="bachelors" or x_lower=="bachelor of economics":
        return "Bachelor"
    if x_lower=='s.b.':
        return "BS"
    if "bachelor of business administrat" in x_lower:
        return 'BBA'
    if x_lower=='bachelor of technology (btech':
        return "BTECH"
    if x_lower=="chartered accountant" or x_lower=="cpa" or x_lower=="ca" or x_lower=="hnd"\
    or x_lower=="aca" or x_lower=="professional certificate" or x_lower=="bts":
        return "Professional"
    if x_lower=="doctor of philosophy" or x_lower=="postdoctoral" or x_lower=="post doc" or x_lower=="d.phil"\
    or x_lower=="dr" or x_lower=="dr." or x_lower=="dea" or x_lower=="dphil":
        return "PhD"
    if x_lower=="juris doctor" or x_lower=="doctor of law (jd)" or x_lower=="j.d.":
        return"JD"

    if "doctorate" in x_lower:
        return "PhD"
    if "bachelor of laws" in x_lower:
        return "LLB"
    if x_lower=="sb":
        return "BS"
    if "executive" in x_lower:
        return "Executive"
    if "high school" in x_lower:
        return np.nan
    if x_lower=="aa" or x_lower=="as" or x_lower=="aas" or x_lower=="dec":
        return "Associate"
    if x_lower=="doctor of medicine":
        return"MD"
    if x_lower=="s.m." or x_lower=="s.m" or x_lower=="sm":
        return "MS"
    if x_lower=="sb" or x_lower=='s.b.' or x_lower=="sc.b." or x_lower=="s.b" or x_lower=="scb":
        return "BS"
    if x=="Bachelor of Technology (B.Tech.)" or x=="Bachelors of Technology":
        return"BTECH"

    if "masters science" in x_lower:
        return "MS"
    if "m.tech" in x_lower:
        return "MTECH"
    if "m.d." in x_lower:
        return "MD"
    if "msc" in x_lower:
        return 'MS'
    if "/ms" in x_lower:
        return "MS"
    if ", ms" in x_lower:
        return "MS"
    if "m.eng" in x_lower :
        return "MS"
    if "ms " in x_lower:
        return "MS"
    if all(c in x_lower for c in ["post","doc"]):
        return "PhD"
    if all(c in x_lower for c in ["post","grad"]):
        return "Graduate"

    if "BA" in str(x):
        if "BBA" in str(x):
            return "BBA"
        elif "MBA" in str(x):
            return "MBA"
        else:
            return "BA"
    if "B.A" in str(x):
        if "B.B.A" in str(x):
            return "BBA"
        elif "M.B.A" in str(x):
            return "MBA"
        else:
            return "BA"

    if "bs " in x_lower:
        return "BS"
    if "bs." in x_lower:
        return 'BS'
    if "bme " in x_lower:
        return "BS"
    if all(c in x_lower for c in ["bachelor","art"]):
        return "BA"
    if all(c in x_lower for c in ["bachelor","science"]):
        return "BS"
    if all(c in x_lower for c in ["bachelor","degree"]):
        return "Bachelor"
    if "bachlor" in x_lower:
        return "Bachelor"
    if "bachellor" in x_lower:
        return "Bachelor"

    if "b.s." in x_lower:
        return "BS"
    if "b. s." in x_lower:
        return "BS"
    if "b.s." in x_lower:
        return "BS"
    if "b. s." in x_lower:
        return "BS"
    if "bs" in str(x).lower():
        return "BS"



    if x_lower=="mem" or x_lower=="mim":
        return "MM"
    if x_lower=="graduation" or x_lower=="diploma" or x_lower=="graduated" or \
    x_lower=="business administration" \
    or x_lower=="business" or x_lower =="marketing" or x_lower=="undergrad" or x_lower=="finance"\
    or x_lower=="economics" or x_lower=="electrical engineering" or x_lower=="law"\
    or x_lower=="management" or x_lower=="it" or x_lower=="cs" \
    or x_lower=="business management"\
    or x_lower=="license" or x_lower=="licence" or x_lower=="commerce" or x_lower=="licentiate"\
    or x_lower=="information technology" or x_lower=="licenciado":
        x= 'Undergraduate'
    if x_lower=="graduate" or x_lower=="graduate diploma" or x_lower=='post graduate' \
    or x_lower=="postgraduate" or x_lower=="post graduate diploma" or x_lower=="advanced diploma"\
    or x_lower=="postgraduation" or x_lower=="post graduation" or x_lower=='graduate certificate'\
    or x_lower=="med" or x_lower=="pgdbm" or x_lower=="pg" or x_lower=="pgdm" or x_lower=="dess"\
    or x_lower=="engineering" or x_lower=="engineer" or x_lower=="dipl-ing"\
    or x_lower=="computer engineering" or x_lower=="mechanical engineering":
        return "Graduate"

    if "llb" in str(x).lower():
        return "LLB"

    if x_lower=="am":
        return "MA"

    if "certificate" in str(x).lower():
        return np.nan

    if x_lower=="bcom" or x_lower=="bm":
        x="BBA"
    if "bach" in str(x).lower():
        x="Bachelor"
    if "B." in str(x):
        if "M.B.A." in str(x):
            return "MBA"
        else:
            return "Bachelor"
    if "master" in str(x).lower():
        return "Master"
    if "M." in str(x):
        return "Master"
    if "engineering" in str(x).lower():
        x="Undergraduate"
    if "engineer" in str(x).lower():
        x="Undergraduate"
    if "baccalaureate" in str(x).lower():
        x=np.nan
    if "Ing" in str(x):
        x="Graduate"
    if "diploma" in str(x).lower():
        x=np.nan
    if "MA" in str(x):
        x="MA"
    if "ME" in str(x):
        x="MS"
    if "J.D" in str(x):
        x="JD"
    if "JD" in str(x):
        x="JD"
    if "MS" in str(x):
        x="MS"
    if "Eng" in str(x):
        x="Graduate"
    if "MPhil" in str(x):
        x="MPHIL"
    if "MBA " in str(x):
        x="MBA"
    if "hon" in str(x).lower():
        x=np.nan

    return x

In [15]:
def degree_type_clean():
    degrees = pd.read_csv(os.path.join('..',"raw_data","degrees.csv"))
    print(degrees.shape)
    degrees["degree_type"] = degrees.degree_type.map(degree_clean)
    degrees_clean = pd.DataFrame(degrees["degree_type"].value_counts())
    def cleaning(x):
        try:
            if degrees_clean.loc[x].degree_type >= 10:
                return x
            else:
                return np.nan
        except:
            return np.nan

    degrees["degree_type"]= degrees["degree_type"].map(cleaning)
    degrees["study_degree"] = degrees.degree_type.map(leveling)
    degrees = pd.concat([degrees,pd.get_dummies(degrees.study_degree)], axis=1)

    print (degrees.sample(5))
    print(degrees.shape)

    return degrees

In [16]:
degrees = degree_type_clean().drop("degree_type", axis=1).rename(columns={"degree_type_clean":"degree_type"})

(109610, 8)

NameError: name 'leveling' is not defined

In [14]:
degrees.head()

AttributeError: 'DataFrame' object has no attribute 'study_degree'

In [9]:
# trickle down

In [11]:
people = pd.read_csv(os.path.join("..","raw_data","people.csv"))

In [12]:
people.head()

,person_object_id,birthplace,name,normalized_name,permalink,twitter_username,investment_rounds,invested_companies,description,founder
0,p:10,NaN,Mark Zuckerberg,mark zuckerberg,/person/mark-zuckerberg,NaN,0.0,0.0,Mark Zuckerberg is the founder and CEO of [Fac...,True
1,p:100,NaN,Peter Lester,peter lester,/person/peter-lester,NaN,0.0,0.0,"""Peter Lester is Vice President Strategic Part...",False
2,p:1000,NaN,Dr. Steven E. Saunders,steven saunders,/person/dr-steven-e-saunders,NaN,0.0,0.0,,False
3,p:10000,NaN,Neil Capel,neil capel,/person/neil-capel,NaN,0.0,0.0,"Neil Capel is the Founder and CEO of Sailthru,...",True
4,p:100000,NaN,Sue Pilsch,sue pilsch,/person/sue-pilsch,NaN,0.0,0.0,,False

In [17]:
people.shape

(226537, 10)

In [18]:
people.drop_duplicates()

,person_object_id,birthplace,name,normalized_name,permalink,twitter_username,investment_rounds,invested_companies,description,founder
0,p:10,NaN,Mark Zuckerberg,mark zuckerberg,/person/mark-zuckerberg,NaN,0.0,0.0,Mark Zuckerberg is the founder and CEO of [Fac...,True
1,p:100,NaN,Peter Lester,peter lester,/person/peter-lester,NaN,0.0,0.0,"""Peter Lester is Vice President Strategic Part...",False
2,p:1000,NaN,Dr. Steven E. Saunders,steven saunders,/person/dr-steven-e-saunders,NaN,0.0,0.0,,False
3,p:10000,NaN,Neil Capel,neil capel,/person/neil-capel,NaN,0.0,0.0,"Neil Capel is the Founder and CEO of Sailthru,...",True
4,p:100000,NaN,Sue Pilsch,sue pilsch,/person/sue-pilsch,NaN,0.0,0.0,,False
5,p:100002,NaN,Keith Kurzendoerfer,keith kurzendoerfer,/person/keith-kurzendoerfer,NaN,0.0,0.0,,False
6,p:100006,NaN,Courtney Homer,courtney homer,/person/courtney-homer,jobsbostontech,0.0,0.0,"Courtney is the Principal of CareerEncore, a b...",False
7,p:100009,NaN,Eddy Badrina,eddy badrina,/person/eddy-badrina,NaN,0.0,0.0,,True
8,p:100010,NaN,Michael Dadashyan,michael dadashyan,/person/michael-dadashyan,fbroulette,0.0,0.0,Founder of **FeedbackRoulette.com**,False
9,p:100011,NaN,Jeff Grell,jeff grell,/person/jeff-grell,NaN,0.0,0.0,,False
10,p:100012,NaN,Nick Bova,nick bova,/person/nick-bova,NaN,0.0,0.0,,False
11,p:100013,NaN,Umesh Singh,umesh singh,/person/umesh-singh,NaN,0.0,0.0,Mr. Singh brings over 25 years of extensive ex...,False
12,p:100014,NaN,Larry Blankenship,larry blankenship,/person/larry-blankenship,NaN,0.0,0.0,,False
13,p:100015,NaN,Steven G. Anderson,steven anderson,/person/steven-g-anderson,NaN,0.0,0.0,,False
14,p:100016,NaN,Thomas F. Ackerman,thomas ackerman,/person/thomas-f-ackerman-2,NaN,0.0,0.0,,False
15,p:100017,NaN,Kurt Azarbarzin,kurt azarbarzin,/person/kurt-azarbarzin,NaN,0.0,0.0,"Kurt Azarbarzin founded SurgiQuest, Inc. in th...",True
16,p:100018,Washington DC,Adam Beckerman,adam beckerman,/person/adam-beckerman,adam_beckerman,0.0,0.0,,False
17,p:100019,NaN,Melissa French,melissa french,/person/melissa-french,netcastles,0.0,0.0,Melissa French is a mom living in upstate New ...,False
18,p:100022,Bursa TR,OÄuz KaÄan Aslan,oäÿuz kaäÿan aslan,/person/ouz-kaan-aslan,OguzKaganAslan,0.0,0.0,,False
19,p:100023,NaN,Neil Chandran,neil chandran,/person/neil-chandran,neilchandran,0.0,0.0,Neil Chandran is a practicing investment consu...,False
20,p:100024,NaN,Sebastian Knutsson,sebastian knutsson,/person/sebastian-knutsson,NaN,0.0,0.0,,True
21,p:100025,NaN,Thomas Hartwig,thomas hartwig,/person/thomas-hartwig,NaN,0.0,0.0,,True
22,p:100026,NaN,Lars Markgren,lars markgren,/person/lars-markgren,NaN,0.0,0.0,,True
23,p:100027,Mharashtra,Suraj Shinde,suraj shinde,/person/suraj-shinde,SurajBShinde,0.0,0.0,suraj-shinde suraj-bhalchandra-shinde surajbs...,False
24,p:100029,NaN,Kaushik Prakash,kaushik prakash,/person/kaushik-prakash,NaN,0.0,0.0,,True
25,p:100030,NaN,Jai Patel,jai patel,/person/jai-patel,NaN,0.0,0.0,,True
26,p:100031,"Honavar, Karnataka, India",Sandeep Hegde,sandeep hegde,/person/sandeep-hegde,sandeephegde,0.0,0.0,"Always striving to be different, every stage o...",True
27,p:100032,NaN,Dejan Avramovic,dejan avramovic,/person/dejan-avramovic,avramavram,0.0,0.0,,False
28,p:100033,NaN,Ivet Dobromirova,ivet dobromirova,/person/ivet-dobromirova,NaN,0.0,0.0,,True
29,p:100034,"Ahmedabad, India",Anand Mistry,anand mistry,/person/anand-mistry,AnandHMistry,0.0,0.0,"SEO, eSparkInfo Solution. I am Physics graduat...",False
...,...,...,...,...,...,...,...,...,...,...
226507,p:99969,NaN,Rob Phillips,rob phillips,/person/rob-phillips-3,iwasrobbed,0.0,0.0,,True
226508,p:9997,NaN,Jeffrey Kloster,jeffrey kloster,/person/jeffrey-kloster,NaN,0.0,0.0,,True
226509,p:99970,NaN,Ãlie Charest,ãlie charest,/person/lie-charest,NaN,0.0,0.0,,False
226510,p:99971,NaN,Mathieu Dupont,mathieu dupont,/person/mathieu-dupont,NaN,0.0,0.0,,False
226511,p:99972,NaN,Serge Landry,serge landry,/person/serge-landry,NaN,0.0,0.0,,False
226512,p:99974,NaN,Eric Magnuson,eric magnuson,/person/eric-magnuson,NaN,0.0,0.0,,False
226513,p:99975,NaN,Sani ElFishawy,sani elfishawy,/person/sani-elfishawy,NaN,0.0,0.0,,True
226514,p:99976,NaN,Farhad Farzaneh,farhad farzaneh,/person/farhad-farzaneh,NaN,0.0,0.0,,True
226515,p:99977,NaN,Tian He,tian he,/person/tian-he,hetianye,0.0,0.0,,True
226516,p:99978,NaN,Bret Wagner,bret wagner,/person/bret-wagner,NaN,0.0,0.0,,True
226517,p:99979,NaN,Stephen Ufford,stephen ufford,/person/stephen-ufford,NaN,0.0,0.0,"Stephen has had the pleasure of founding, buil...",True
226518,p:9998,NaN,Eric Jensen,eric jensen,/person/eric-jensen,ej,0.0,0.0,,False
226519,p:99980,NaN,Tanis Jorge,tanis jorge,/person/tanis-jorge,NaN,0.0,0.0,"In 1999 Tanis co-founded iQuiri Inc., Canadas...",True
226520,p:99982,NaN,John Carmack,john carmack,/person/john-carmack,ID_AA_Carmack,0.0,0.0,John D. Carmack is an American game programmer...,True
226521,p:99983,"Redwood City, CA",Scott Mustard,scott mustard,/person/scott-mustard,ScottMustard,0.0,0.0,"Entrepreneur interested in security, technolog...",False
226522,p:99984,NaN,K. Eric Drexler,eric drexler,/person/k-eric-drexler,NaN,0.0,0.0,Often described as the âfather of nanotechno...,False
226523,p:99985,NaN,Mark Sims,mark sims,/person/mark-sims-2,NaN,0.0,0.0,Mark Sims founded Nanorex in the spring of 200...,False
226524,p:99986,NaN,Thadd Hale,thadd hale,/person/thadd-hale,NaN,0.0,0.0,,False
226525,p:99987,NaN,David Vandygriff,david vandygriff,/person/david-vandygriff,NaN,0.0,0.0,,False
226526,p:99988,NaN,Imran Ghory,imran ghory,/person/imran-ghory,imranghory,0.0,0.0,,True
226527,p:99989,NaN,Eli Gabay,eli gabay,/person/eli-gabay,NaN,0.0,0.0,,False
226528,p:99990,NaN,Tzvi Milshtein,tzvi milshtein,/person/tzvi-milshtein,NaN,0.0,0.0,management of a development company\n\nhands o...,False
226529,p:99991,NaN,Jeremy Lichtman,jeremy lichtman,/person/jeremy-lichtman,jeremylichtman,0.0,0.0,,False
226530,p:99992,Toulouse,Romain Brabant,romain brabant,/person/romain-brabant,NaN,3.0,2.0,foodbox dreamcloset,False
226531,p:99994,NaN,Kiran Manda,kiran manda,/person/kiran-manda,NaN,0.0,0.0,"Kiran Manda, Software Team Lead and co-founder...",True
226532,p:99995,NaN,Sue Gench,sue gench,/person/sue-gench,NaN,0.0,0.0,,False
226533,p:99996,"Bethesda, MD",Rick Tamberrino,rick tamberrino,/person/rick-tamberrino,tamberrino,0.0,0.0,,False
226534,p:99997,"Montreal, Canada",Peter Lalonde,peter lalonde,/person/peter-lalonde,peterlalonde,0.0,0.0,Peter Lalonde is founder and CEO of Openera In...,True
226535,p:99998,NaN,Adam Neumann,adam neumann,/person/adam-neumann,NaN,0.0,0.0,,True
226536,p:99999,Philippines,Ramon Peypoch,ramon peypoch,/person/ramon-peypoch,NaN,0.0,0.0,,False

In [20]:
degrees.drop_duplicates()

,id,object_id,subject,institution,graduated_at,created_at,updated_at,degree_type
0,1,p:6117,NaN,NaN,NaN,2008-02-19 03:17:36,2008-02-19 03:17:36,MBA
1,2,p:6136,"English, French","Washington University, St. Louis",1990-01-01,2008-02-19 17:58:31,2008-02-25 00:23:55,BA
2,3,p:6136,Mass Communication,Boston University,1992-01-01,2008-02-19 17:58:31,2008-02-25 00:23:55,MS
3,4,p:6005,Internet Technology,University of Greenwich,2006-01-01,2008-02-19 23:40:40,2008-02-25 00:23:55,MS
4,5,p:5832,"Computer Science, Psychology",Rice University,NaN,2008-02-20 05:28:09,2008-02-20 05:28:09,BS
5,6,p:1017,Computer Science,Northeastern University,1988-01-01,2008-02-21 01:31:01,2008-02-25 00:23:55,BS
6,7,p:6176,Computer Science,Rochester Institute of Technology,2002-01-01,2008-02-21 01:31:34,2008-02-25 00:23:55,BS
7,8,p:5412,Politics,University of Cambridge,2002-01-01,2008-02-21 20:01:32,2008-02-25 00:23:55,MS
8,9,p:1243,International Business & Marketing,University of Oregon,1997-01-01,2008-02-22 08:16:50,2013-07-27 08:48:01,BA
9,10,p:6265,Economics,University of Pennsylvania,1989-01-01,2008-02-22 08:27:15,2008-02-25 00:23:55,BS
10,11,p:6328,Computing and Internet Technology,Bournemouth University,2008-01-01,2008-02-22 12:38:32,2008-02-25 00:23:55,NaN
11,12,p:6329,Physics & Philosophy,University of Cambridge,NaN,2008-02-22 13:16:09,2008-02-22 13:16:09,MA
12,13,p:2351,Law,University of Toronto School of Law,1993-01-01,2008-02-24 00:57:59,2008-02-25 00:23:55,LLB
13,14,p:2351,Economics,Princeton University,1990-01-01,2008-02-24 00:58:38,2008-02-25 00:23:55,BA
14,15,p:5471,Media & Knowledge Engineering,"TU Delft, The Netherlands",2007-01-01,2008-02-24 01:17:35,2008-02-25 00:23:55,MS
15,16,p:2005,Finance,Tel Aviv University,1999-01-01,2008-02-24 01:19:59,2008-02-25 00:23:55,PhD
16,17,p:6453,NaN,University of Texas,2004-01-01,2008-02-24 05:38:24,2008-02-25 00:23:55,MBA
17,18,p:6453,"History, Political Science",Louisiana State University,1996-01-01,2008-02-24 05:38:24,2008-02-25 00:23:55,BA
18,19,p:5991,"Computer Science, Photography",New York University (NYU),2005-01-01,2008-02-24 19:42:44,2008-02-25 00:23:55,BFA
19,20,p:1017,"Entrepreneurship, Finance",Babson College,1995-01-01,2008-02-24 19:48:12,2008-02-25 00:23:55,MBA
20,21,p:6497,Engineering and Applied Science,California Institute of Technology,NaN,2008-02-25 01:07:15,2008-02-25 01:07:15,BS
21,22,p:6497,Computer Science,"University of California, Los Angeles (UCLA)",NaN,2008-02-25 01:07:15,2008-02-25 01:07:15,MS
22,23,p:174,Political Science,Yale University,2005-01-01,2008-02-25 01:37:47,2013-07-15 19:53:08,BA
23,24,p:3791,Social Studies,Harvard University,2005-01-01,2008-02-25 07:33:25,2008-02-25 07:33:25,BA
24,25,p:6496,Computer Science & Engineering,"University of California, Los Angeles (UCLA)",1997-01-01,2008-02-25 07:39:47,2008-02-25 07:39:47,BS
25,26,p:6496,Computer Science Software Engineering,"University of California, Los Angeles (UCLA)",1999-01-01,2008-02-25 07:39:47,2008-02-25 07:39:47,MS
26,27,p:6536,Computer Science,University of Nevada Las Vegas,1992-01-01,2008-02-25 15:12:35,2008-02-25 15:12:35,BA
27,28,p:6559,"Communications, Publishing, Social Anthropology","Simon Fraser University, Ryerson University",NaN,2008-02-25 22:45:56,2008-03-05 00:08:05,BA
28,29,p:6579,EE,"Bangalore University, India",1992-01-01,2008-02-26 03:32:33,2008-02-26 03:32:33,BS
29,30,p:6591,Entrepreneurial Management,University of Pennsylvania - The Wharton School,2008-01-01,2008-02-26 16:05:03,2013-09-17 05:04:09,MBA
...,...,...,...,...,...,...,...,...
109580,109581,p:268513,Financial Management,Clemson University,1982-01-01,2013-12-12 12:06:31,2013-12-12 12:06:31,BS
109581,109582,p:268513,"Finance, General",Southern Methodist University - Cox School of ...,1983-01-01,2013-12-12 12:07:14,2013-12-12 12:07:14,MBA
109582,109583,p:268514,economics,University of Colorado/Boulder,NaN,2013-12-12 12:14:26,2013-12-12 12:14:26,Bachelor
109583,109584,p:268516,finance,"Wharton School of Business , University of Pen...",NaN,2013-12-12 12:20:49,2013-12-12 12:20:49,BS
109584,109585,p:268516,NaN,Harvard Law School,NaN,2013-12-12 12:21:08,2013-12-12 12:21:08,JD
109585,109586,p:268396,Finance,The University of Texas at Austin - The Red Mc...,2005-01-01,2013-12-12 12:23:58,2013-12-12 12:23:58,NaN
109586,109587,p:268397,NaN,The University of Texas School of Law,2008-01-01,2013-12-12 12:26:20,2013-12-12 12:26:20,JD
109587,109588,p:268397,Finance,The University of Texas at Austin - The Red Mc...,1999-01-01,2013-12-12 12:26:20,2013-12-12 12:26:20,BBA
109588,109589,p:268517,Engineering,University of Massachusetts,NaN,2013-12-12 12:28:03,2013-12-12 12:28:03,BS
109589,109590,p:268517,NaN,University of Massachusetts,NaN,2013-12-12 12:28:23,2013-12-12 12:28:23,MBA
109590,109591,p:268517,NaN,University of New Hampshire School of Law,NaN,2013-12-12 12:28:42,2013-12-12 12:28:42,JD
109591,109592,p:268519,Engineering,"Auburn University, Auburn, Alabama",1977-01-01,2013-12-12 12:43:14,2013-12-12 12:43:14,BS
109592,109593,p:268519,Engineering,"Auburn University, Auburn, Alabama",1978-01-01,2013-12-12 12:43:47,2013-12-12 12:43:47,MS
109593,109594,p:268519,NaN,"Loyola University, New Orleans, Louisiana",1985-01-01,2013-12-12 12:44:53,2013-12-12 12:44:53,JD
109594,109595,p:268519,"Finance, General","Rutgers University, Newark, New Jersey",1998-01-01,2013-12-12 12:45:45,2013-12-12 12:45:45,MBA
109595,109596,p:268520,physics,Waseda University,NaN,2013-12-12 13:56:08,2013-12-12 13:56:08,BS
109596,109597,p:268520,Physics,Waseda University,NaN,2013-12-12 13:56:37,2013-12-12 13:56:37,MS
109597,109598,p:268521,Mechanical Engineering,"University of California, Santa Barbara",2002-01-01,2013-12-12 14:01:29,2013-12-12 14:01:29,BS
109598,109599,p:268521,NaN,"University of California, Irvine - The Paul Me...",2006-01-01,2013-12-12 14:02:21,2013-12-12 14:02:21,MBA
109599,109600,p:158143,NaN,Case Western Reserve University,NaN,2013-12-12 14:15:42,2013-12-12 14:15:42,MBA
109600,109601,p:158143,NaN,Case Western Reserve University,NaN,2013-12-12 14:15:42,2013-12-12 14:15:42,BA
109601,109602,p:268524,Business Administration,Wharton School,NaN,2013-12-12 14:21:11,2013-12-12 14:21:11,Master
109602,109603,p:268524,NaN,University of California at Berkeley,NaN,2013-12-12 14:21:38,2013-12-12 14:21:38,BS
109603,109604,p:268524,Business Administration,"Wharton School of Business , University of Pen...",NaN,2013-12-12 14:22:33,2013-12-12 14:22:33,Master
109604,109605,p:268589,Accounting,Iowa State University,NaN,2013-12-12 14:28:58,2013-12-12 14:28:58,BS
109605,109606,p:268589,NaN,American Institute of Certtified Public Accoun...,NaN,2013-12-12 14:28:58,2013-12-12 14:28:58,Professional
109606,109607,p:268527,Engineering,South China University of Technology,NaN,2013-12-12 14:31:21,2013-12-12 14:31:21,MS
109607,109608,p:268527,Engineering,Clarkson University,NaN,2013-12-12 14:31:48,2013-12-12 14:31:48,PhD
109608,109609,p:268528,Electrical Engineering,Colorado State University,NaN,2013-12-12 14:38:15,2013-12-12 14:38:15,BS
109609,109610,p:268528,NaN,University of San Diego School of Law,NaN,2013-12-12 14:38:33,2013-12-12 14:38:33,JD