# Finding successfull outliers

In [1]:
import pandas as pd
import numpy as np
import os
import pandas_profiling
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from invesscience.joanna_merge_2 import get_training_data

In [4]:
from invesscience.joanna_clean_data import clean_training_data

In [5]:
companies_no_clean = get_training_data(reference="a", cut="2014")

KeyboardInterrupt:

In [46]:
companies_no_clean = get_training_data(reference=0, cut="2014")

        id  mean_comp_worked_before
0      c:1                      1.5
1   c:1001                      1.0
2  c:10014                      3.0
3  c:10015                      0.0
4  c:10018                      0.0
        id        normalized_name   category_code founded_at  \
0  c:60511  oasmia pharmaceutical         biotech        NaT
1    c:250         new york times            news        NaT
2  c:21572    tuenti technologies          social 2006-05-01
3  c:24864       general dynamics  transportation 1952-01-01
4   c:9786        lockheed martin        security 1995-03-01

                                         description closed_at    status  \
0  biotech     Oasmia Pharmaceutical AB develops ...       NaN       ipo
1  news The New York Times creates, collects and ...       NaN       ipo
2  social   Social Network Tuenti is a Madrid-bas...       NaN  acquired
3  transportation   Aviation, Combat, & Informati...       NaN       ipo
4  security   Aeronautics Lockheed Martin Corpora...       NaN       ipo

          exit            exit_date country_code  ... top_20 top_50  \
0          ipo  1972-06-01 00:00:00          SWE  ...    NaN    NaN
1          ipo  1973-05-03 00:00:00          USA  ...    NaN    NaN
2  acquisition  1974-07-07 00:00:00          ESP  ...    0.0    0.0
3          ipo  1977-01-03 00:00:00          USA  ...    NaN    NaN
4          ipo  1977-01-03 00:00:00          USA  ...    NaN    NaN

   top_5_bool  top_20_bool  top_50_bool  n_female_founders  female_ratio  \
0         NaN          NaN          NaN                NaN           NaN
1         NaN          NaN          NaN                NaN           NaN
2         1.0          0.0          0.0                0.0           0.0
3         NaN          NaN          NaN                NaN           NaN
4         NaN          NaN          NaN                NaN           NaN

   mean_comp_founded_ever  mean_comp_founded_before  mean_comp_worked_before
0                     NaN                       NaN                      NaN
1                     NaN                       NaN                      NaN
2                     1.4                       0.0                      0.0
3                     NaN                       NaN                      NaN
4                     NaN                       NaN                      NaN

[5 rows x 37 columns]

In [24]:
companies = get_training_data(reference="a", cut="2014")

        id  mean_comp_worked_before
0      c:1                     0.50
1   c:1001                     0.75
2  c:10015                     0.00
3   c:1003                     0.50
4  c:10054                     0.00
        id    normalized_name    category_code founded_at  \
0   c:1349      move networks         software        NaT
1   c:4584        modern feed      games_video 2007-01-01
2  c:40866         3d systems         software 1986-01-01
3  c:16612  micron technology    semiconductor 1978-01-01
4     c:28              cisco  network_hosting 1984-01-01

                                         description closed_at    status  \
0  software Move Networks is a streaming tech pla...       NaN  acquired
1  games_video     [Modern Feed](http://www.moder...       NaN  acquired
2  software   Advanced solid imaging solutions 3D...       NaN       ipo
3  semiconductor   Semiconductor Applications Mic...       NaN       ipo
4  network_hosting     Cisco designs and sells ha...       NaN       ipo

          exit            exit_date country_code  ... top_20 top_50  \
0  acquisition  1987-06-16 00:00:00          USA  ...    NaN    NaN
1  acquisition  1987-06-16 00:00:00          USA  ...    0.0    1.0
2          ipo  1988-03-10 00:00:00          USA  ...    NaN    NaN
3          ipo  1990-01-02 00:00:00          USA  ...    NaN    NaN
4          ipo  1990-02-23 00:00:00          USA  ...    0.0    0.0

   top_5_bool  top_20_bool  top_50_bool  n_female_founders  female_ratio  \
0         NaN          NaN          NaN                NaN           NaN
1         0.0          0.0          1.0                0.0           0.0
2         NaN          NaN          NaN                NaN           NaN
3         NaN          NaN          NaN                NaN           NaN
4         0.0          0.0          0.0                0.0           0.0

   mean_comp_founded_ever  mean_comp_founded_before  mean_comp_worked_before
0                     NaN                       NaN                      NaN
1                     1.0                       0.0                      0.0
2                     NaN                       NaN                      NaN
3                     NaN                       NaN                      NaN
4                     1.0                       0.0                      0.0

[5 rows x 40 columns]

In [29]:
companies = clean_training_data(companies, reference="a")

In [25]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8804 entries, 0 to 8803
Data columns (total 41 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         8804 non-null   object
 1   normalized_name            8804 non-null   object
 2   category_code              8586 non-null   object
 3   founded_at                 7294 non-null   datetime64[ns]
 4   description                8788 non-null   object
 5   closed_at                  518 non-null    object
 6   status                     8804 non-null   object
 7   exit                       8804 non-null   object
 8   exit_date                  1158 non-null   object
 9   country_code               8493 non-null   object
 10  state_code                 5994 non-null   object
 11  date_series_a              8804 non-null   datetime64[ns]
 12  participants_a             8804 non-null   int64
 13  raised_amount_usd_a        8804 non-null   float64
 14  timediff_founded_series_a  7294 non-null   float64
 15  rounds_before_a            8804 non-null   float64
 16  raised_before_a            8479 non-null   float64
 17  participants_before_a      8138 non-null   float64
 18  phd                        4589 non-null   float64
 19  MBA                        4589 non-null   float64
 20  cs                         4589 non-null   float64
 21  graduate                   4589 non-null   float64
 22  undergrad                  4589 non-null   float64
 23  professional               4589 non-null   float64
 24  degree_count               4589 non-null   float64
 25  MBA_bool                   4589 non-null   float64
 26  cs_bool                    4589 non-null   float64
 27  phd_bool                   4589 non-null   float64
 28  founder_count              4589 non-null   float64
 29  top_5                      4589 non-null   float64
 30  top_20                     4589 non-null   float64
 31  top_50                     4589 non-null   float64
 32  top_5_bool                 4589 non-null   float64
 33  top_20_bool                4589 non-null   float64
 34  top_50_bool                4589 non-null   float64
 35  n_female_founders          4463 non-null   float64
 36  female_ratio               4463 non-null   float64
 37  mean_comp_founded_ever     4589 non-null   float64
 38  mean_comp_founded_before   4589 non-null   float64
 39  mean_comp_worked_before    4582 non-null   float64
 40  target                     8804 non-null   int64
dtypes: datetime64[ns](2), float64(27), int64(2), object(10)
memory usage: 2.8+ MB

In [83]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8804 entries, 0 to 8803
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         8804 non-null   object
 1   normalized_name            8804 non-null   object
 2   category_code              8612 non-null   object
 3   founded_at                 7294 non-null   object
 4   description                8788 non-null   object
 5   closed_at                  518 non-null    object
 6   status                     8804 non-null   object
 7   exit                       8804 non-null   object
 8   exit_date                  1158 non-null   object
 9   country_code               8558 non-null   object
 10  state_code                 8454 non-null   object
 11  participants_a             7079 non-null   float64
 12  raised_amount_usd_a        8061 non-null   float64
 13  timediff_founded_series_a  7294 non-null   object
 14  rounds_before_a            8804 non-null   int64
 15  graduate                   4589 non-null   float64
 16  undergrad                  4589 non-null   float64
 17  professional               4589 non-null   float64
 18  degree_count               4589 non-null   float64
 19  MBA_bool                   4589 non-null   float64
 20  cs_bool                    4589 non-null   float64
 21  phd_bool                   4589 non-null   float64
 22  founder_count              4589 non-null   float64
 23  top_20_bool                4589 non-null   float64
 24  female_ratio               4463 non-null   float64
 25  mean_comp_founded_before   4589 non-null   float64
 26  mean_comp_worked_before    4582 non-null   float64
 27  target                     8804 non-null   int64
 28  time_diff_series_a_now     8804 non-null   float64
dtypes: float64(15), int64(2), object(12)
memory usage: 2.0+ MB

In [82]:
#companies.country_code = companies.set_index("id").country_code.fillna(filled_2.country_code).reset_index().country_code
companies.country_code = companies.set_index("id").country_code.fillna(filled_4.country_code).reset_index().country_code

companies.loc[companies.country_code!="USA","state_code"] = "not_US"
companies.loc[companies.country_code.isnull(),"state_code"] = np.nan

In [60]:
companies.loc[companies.country_code!="USA","state_code"] = "not_US"

In [68]:
companies.loc[companies.country_code.isnull(),"state_code"] = np.nan

In [86]:
companies.country_code.value_counts()

USA              6108
other_country     857
GBR               451
FRA               241
CAN               231
DEU               199
ISR               173
IND               125
CHN               104
SWE                69
Name: country_code, dtype: int64

In [87]:
companies.state_code = companies.set_index("id").state_code.fillna(filled_4[filled_4.country_code=="USA"].state_code).reset_index().state_code

In [88]:
companies.country_code.value_counts()

USA              6108
other_country     857
GBR               451
FRA               241
CAN               231
DEU               199
ISR               173
IND               125
CHN               104
SWE                69
Name: country_code, dtype: int64

In [71]:
8538-6092

2446

In [67]:
companies.country_code.value_counts()

USA              6092
other_country     856
GBR               450
FRA               241
CAN               231
DEU               199
ISR               172
IND               125
CHN               103
SWE                69
Name: country_code, dtype: int64

In [89]:
companies

,id,normalized_name,category_code,founded_at,description,closed_at,status,exit,exit_date,country_code,...,MBA_bool,cs_bool,phd_bool,founder_count,top_20_bool,female_ratio,mean_comp_founded_before,mean_comp_worked_before,target,time_diff_series_a_now
0,c:1349,move networks,software,NaN,software Move Networks is a streaming tech pla...,NaN,acquired,acquisition,1987-06-16 00:00:00,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,7.0
1,c:4584,modern feed,other_category,2007,games_video [Modern Feed](http://www.moder...,NaN,acquired,acquisition,1987-06-16 00:00:00,USA,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,7.0
2,c:40866,3d systems,software,pre_1996,software Advanced solid imaging solutions 3D...,NaN,ipo,ipo,1988-03-10 00:00:00,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0
3,c:16612,micron technology,semiconductor,pre_1996,semiconductor Semiconductor Applications Mic...,NaN,ipo,ipo,1990-01-02 00:00:00,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,7.0
4,c:28,cisco,network_hosting,pre_1996,network_hosting Cisco designs and sells ha...,NaN,ipo,ipo,1990-02-23 00:00:00,USA,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8799,c:9489,royaltyshare,public_relations,2005,public_relations RoyaltyShare provides Web...,NaN,operating,no exit,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,7.0
8800,c:94897,trover,other_category,2010,photo_video Trover is an information sharing p...,NaN,operating,no exit,NaN,USA,...,0.0,0.0,0.0,2.0,1.0,0.0,1.0,1.0,0,0.0
8801,c:95330,colingo,ecommerce,2011,ecommerce Colingo was founded in 2011 to b...,NaN,operating,no exit,NaN,USA,...,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0,0.0
8802,c:9812,nooked,ecommerce,NaN,ecommerce nooked delivers shopping deals d...,NaN,operating,no exit,NaN,other_country,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,5.0
8803,c:998,wamba,web,2013,web Global Social Discovery We are the first...,NaN,operating,no exit,NaN,GBR,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,0,6.0

In [79]:
filled_4 = pd.read_csv(os.path.join("..", 'raw_data' , 'last_complete_a.csv'), sep=';').set_index("id")

In [51]:
filled_4.loc[filled_4.country_code!="USA","state_code"] = "not_US"

In [59]:
filled_4[filled_4.country_code=="USA"]

        country_code   state_code
id
c:4584           USA           CA
c:28             USA           CA
c:29             USA           CA
c:28823          USA  other_state
c:317            USA           WA
...              ...          ...
c:90668          USA           CA
c:9145           USA           NY
c:9482           USA           CA
c:94897          USA           WA
c:95330          USA           CA

[3500 rows x 2 columns]

In [45]:
filled_4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4511 entries, c:4584 to c:998
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_code  4511 non-null   object
 1   state_code    4511 non-null   object
dtypes: object(2)
memory usage: 265.7+ KB

In [52]:
filled_4.state_code.value_counts()

CA             1805
not_US         1011
NY              498
other_state     318
MA              288
WA              134
TX              107
IL               72
CO               71
VA               49
PA               47
NC               33
FL               28
NJ               27
MD               23
Name: state_code, dtype: int64

In [37]:
test.state_code.value_counts()

CA             1738
NY              477
other_state     298
MA              275
WA              128
TX              104
IL               72
CO               66
VA               48
PA               42
NC               33
FL               26
NJ               26
MD               22
Name: state_code, dtype: int64

In [77]:
test.country_code.value_counts()

USA              3396
other_country     351
GBR               178
CAN               100
ISR                87
FRA                70
DEU                60
IND                50
SWE                30
CHN                20
Name: country_code, dtype: int64

In [76]:
test.country_code = test.set_index("id").country_code.fillna(filled_4.country_code).reset_index().country_code

In [10]:
features_a=['id',
                'category_code', 'country_code', 'state_code', 'founded_at', 'timediff_founded_series_a',
                 'time_diff_series_a_now', 'participants_a', 'raised_amount_usd_a',
                 'rounds_before_a', 'mean_comp_worked_before', 'founder_count', 'graduate', 'MBA_bool', 'cs_bool', 'top_20_bool', 'mean_comp_founded_before',
                 'female_ratio',
                 'exit','target']

In [92]:
test = companies[features_a][companies[features_a].isnull().sum(axis = 1)<3].reset_index(drop=True)

In [94]:
test = test[test['category_code'].notna()]

In [95]:
test

,id,category_code,country_code,state_code,founded_at,timediff_founded_series_a,time_diff_series_a_now,participants_a,raised_amount_usd_a,rounds_before_a,mean_comp_worked_before,founder_count,graduate,MBA_bool,cs_bool,top_20_bool,mean_comp_founded_before,female_ratio,exit,target
0,c:4584,other_category,USA,CA,2007,1_less,7.0,NaN,5000000.0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,acquisition,1
1,c:28,network_hosting,USA,CA,pre_1996,2_9,10.0,1.0,3000000.0,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,ipo,1
2,c:29,web,USA,CA,pre_1996,2_9,10.0,1.0,3000000.0,0,0.0,4.0,1.0,1.0,1.0,1.0,0.0,0.0,ipo,1
3,c:317,ecommerce,USA,WA,pre_1996,2_9,10.0,1.0,10000000.0,0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,0.0,ipo,1
4,c:11700,network_hosting,USA,CA,1996,1_less,10.0,1.0,3000000.0,0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,acquisition,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4421,c:9482,enterprise,USA,CA,2003,2_9,3.0,NaN,5000000.0,2,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,no exit,0
4422,c:94897,other_category,USA,WA,2010,2_9,0.0,4.0,3000000.0,0,1.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,no exit,0
4423,c:95330,ecommerce,USA,CA,2011,2_9,0.0,5.0,3000000.0,0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,no exit,0
4424,c:9812,ecommerce,other_country,not_US,NaN,NaN,5.0,2.0,3000000.0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,no exit,0
4425,c:998,web,GBR,not_US,2013,1_less,6.0,1.0,5000000.0,0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,no exit,0

In [96]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4412 entries, 0 to 4425
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         4412 non-null   object
 1   category_code              4412 non-null   object
 2   country_code               4412 non-null   object
 3   state_code                 4411 non-null   object
 4   founded_at                 4145 non-null   object
 5   timediff_founded_series_a  4145 non-null   object
 6   time_diff_series_a_now     4412 non-null   float64
 7   participants_a             3754 non-null   float64
 8   raised_amount_usd_a        4120 non-null   float64
 9   rounds_before_a            4412 non-null   int64
 10  mean_comp_worked_before    4407 non-null   float64
 11  founder_count              4412 non-null   float64
 12  graduate                   4412 non-null   float64
 13  MBA_bool                   4412 non-null   float64
 14  cs_bool                    4412 non-null   float64
 15  top_20_bool                4412 non-null   float64
 16  mean_comp_founded_before   4412 non-null   float64
 17  female_ratio               4309 non-null   float64
 18  exit                       4412 non-null   object
 19  target                     4412 non-null   int64
dtypes: float64(11), int64(2), object(7)
memory usage: 723.8+ KB

In [27]:
test.founded_at.value_counts()

2011        537
2010        526
2007        491
2009        448
2008        407
2006        385
2012        313
2005        287
2004        191
2003        124
2002         78
2013         70
2001         67
2000         63
1999         55
pre_1996     38
1998         28
1997         15
1996         13
Name: founded_at, dtype: int64

In [15]:
companies[features_a][companies[features_a].isnull().sum(axis = 1)<3].reset_index(drop=True).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4342 entries, 0 to 4341
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         4342 non-null   object
 1   category_code              4330 non-null   object
 2   country_code               4322 non-null   object
 3   state_code                 3355 non-null   object
 4   founded_at                 4136 non-null   object
 5   timediff_founded_series_a  4136 non-null   object
 6   time_diff_series_a_now     4342 non-null   float64
 7   participants_a             3699 non-null   float64
 8   raised_amount_usd_a        4066 non-null   float64
 9   rounds_before_a            4342 non-null   int64
 10  mean_comp_worked_before    4337 non-null   float64
 11  founder_count              4342 non-null   float64
 12  graduate                   4342 non-null   float64
 13  MBA_bool                   4342 non-null   float64
 14  cs_bool                    4342 non-null   float64
 15  top_20_bool                4342 non-null   float64
 16  mean_comp_founded_before   4342 non-null   float64
 17  female_ratio               4247 non-null   float64
 18  exit                       4342 non-null   object
 19  target                     4342 non-null   int64
dtypes: float64(11), int64(2), object(7)
memory usage: 678.6+ KB

In [16]:
test.country_code = test.set_index("id").country_code.fillna(df.country_code).reset_index().country_code
test.state_code = test.set_index("id").state_code.fillna(df.state_code).reset_index().state_code

In [17]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4342 entries, 0 to 4341
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         4342 non-null   object
 1   category_code              4330 non-null   object
 2   country_code               4342 non-null   object
 3   state_code                 4342 non-null   object
 4   founded_at                 4136 non-null   object
 5   timediff_founded_series_a  4136 non-null   object
 6   time_diff_series_a_now     4342 non-null   float64
 7   participants_a             3699 non-null   float64
 8   raised_amount_usd_a        4066 non-null   float64
 9   rounds_before_a            4342 non-null   int64
 10  mean_comp_worked_before    4337 non-null   float64
 11  founder_count              4342 non-null   float64
 12  graduate                   4342 non-null   float64
 13  MBA_bool                   4342 non-null   float64
 14  cs_bool                    4342 non-null   float64
 15  top_20_bool                4342 non-null   float64
 16  mean_comp_founded_before   4342 non-null   float64
 17  female_ratio               4247 non-null   float64
 18  exit                       4342 non-null   object
 19  target                     4342 non-null   int64
dtypes: float64(11), int64(2), object(7)
memory usage: 678.6+ KB

In [99]:
comps_new = pd.read_csv('../companies_test.csv')

In [101]:
comps_new.head(30)

,id,category_code,country_code,state_code,founded_at,timediff_founded_series_a,time_diff_series_a_now,participants_a,raised_amount_usd_a,rounds_before_a,mean_comp_worked_before,founder_count,graduate,MBA_bool,cs_bool,top_20_bool,mean_comp_founded_before,female_ratio,target
0,c:4584,other_category,USA,CA,2007,1_less,7.0,NaN,5000000.0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,c:28,network_hosting,USA,CA,pre_1996,2_9,10.0,1.0,3000000.0,0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1
2,c:29,web,USA,CA,pre_1996,2_9,10.0,1.0,3000000.0,0,0.0,4.0,1.0,1.0,1.0,1.0,0.0,0.0,1
3,c:317,ecommerce,USA,WA,pre_1996,2_9,10.0,1.0,10000000.0,0,0.0,2.0,1.0,1.0,0.0,1.0,0.0,0.0,1
4,c:11700,network_hosting,USA,CA,1996,1_less,10.0,1.0,3000000.0,0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1
5,c:1611,web,USA,TX,pre_1996,1_less,10.0,NaN,NaN,0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1
6,c:17289,web,USA,FL,1997,10_more,3.0,NaN,20000000.0,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
7,c:8750,security,USA,CA,1996,10_more,1.0,NaN,100000000.0,0,0.0,2.0,1.0,0.0,1.0,0.0,0.0,0.0,1
8,c:2720,web,USA,NY,1996,1_less,10.0,1.0,3000000.0,0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,1
9,c:4999,enterprise,USA,CA,1999,1_less,10.0,2.0,50000000.0,0,0.0,3.0,1.0,0.0,1.0,1.0,0.0,0.0,1
10,c:333,finance,USA,CA,1998,1_less,10.0,3.0,NaN,0,0.0,4.0,1.0,0.0,1.0,1.0,0.0,0.0,1
11,c:5617,web,USA,PA,2005,2_9,7.0,2.0,5000000.0,0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1
12,c:1705,web,USA,MA,2000,1_less,10.0,2.0,NaN,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
13,c:529,ecommerce,USA,CA,1999,1_less,10.0,2.0,5000000.0,0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,1
14,c:10421,software,USA,CA,NaN,NaN,10.0,1.0,1000000.0,0,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1
15,c:1972,enterprise,USA,CA,1999,1_less,10.0,4.0,20000000.0,1,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1
16,c:59,search,USA,CA,1998,1_less,10.0,2.0,50000000.0,1,0.0,2.0,1.0,0.0,1.0,1.0,0.0,0.0,1
17,c:9636,other_category,other_country,not_US,1999,2_9,10.0,3.0,20000000.0,0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1
18,c:354,network_hosting,USA,CA,1999,1_less,10.0,1.0,10000000.0,0,0.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,1
19,c:62,software,other_country,not_US,2003,1_less,10.0,1.0,NaN,1,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,1
20,c:15920,software,USA,CA,NaN,NaN,9.0,2.0,5000000.0,0,2.0,2.0,1.0,0.0,0.0,0.0,1.0,1.0,1
21,c:229,ecommerce,GBR,not_US,2000,2_9,9.0,2.0,NaN,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
22,c:2644,software,USA,CA,NaN,NaN,10.0,2.0,10000000.0,0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1
23,c:22291,software,USA,TX,2001,2_9,9.0,2.0,5000000.0,1,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1
24,c:533,web,USA,CA,NaN,NaN,10.0,5.0,50000000.0,0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1
25,c:1170,other_category,USA,MD,1999,2_9,7.0,1.0,50000000.0,0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1
26,c:5963,mobile,DEU,not_US,1999,2_9,10.0,4.0,10000000.0,1,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1
27,c:63,other_category,USA,CA,2005,1_less,8.0,1.0,5000000.0,0,1.0,3.0,0.0,0.0,1.0,1.0,0.0,0.0,1
28,c:49,web,USA,CA,NaN,NaN,9.0,2.0,10000000.0,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
29,c:15769,mobile,ISR,not_US,2004,2_9,7.0,NaN,NaN,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [33]:
ipos = companies[companies.exit=='ipo']

In [42]:
ipos[ipos.female_ratio==1]

,id,normalized_name,category_code,founded_at,description,closed_at,status,exit,exit_date,country_code,...,MBA_bool,cs_bool,phd_bool,founder_count,top_20_bool,female_ratio,mean_comp_founded_before,mean_comp_worked_before,target,time_diff_series_a_now
17,c:2720,xo group,web,1996,web The XO Group is a lifestage media and tech...,NaN,ipo,ipo,1999-12-02 00:00:00,USA,...,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,1,10.0
37,c:9636,dena,other_category,1999,"games_video Mobile Internet DeNA Co., Ltd. (...",NaN,ipo,ipo,2005-02-16 00:00:00,other_country,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1,10.0
777,c:48759,tesaro,biotech,2010,"biotech Founded in 2010, TESARO is a priva...",NaN,ipo,ipo,2012-03-23 00:00:00,USA,...,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,1,4.0
1157,c:2623,epals,web,1996,web Online Education Community ePals Corpora...,NaN,ipo,ipo,2020-09-08 00:00:00,USA,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1,6.0

In [47]:
acquisitions = companies[companies.exit=='acquisition']

In [52]:
acquisitions[acquisitions.female_ratio==1][acquisitions.top_20_bool==0][acquisitions.phd_bool==0][acquisitions.cs_bool==0]

/Users/joannavitiello/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
/Users/joannavitiello/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
/Users/joannavitiello/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,id,normalized_name,category_code,founded_at,description,closed_at,status,exit,exit_date,country_code,...,MBA_bool,cs_bool,phd_bool,founder_count,top_20_bool,female_ratio,mean_comp_founded_before,mean_comp_worked_before,target,time_diff_series_a_now
44,c:15920,lasso logic,software,NaN,software Lasso Logic offers continuous dat...,NaN,acquired,acquisition,2005-11-22 00:00:00,USA,...,0.0,0.0,0.0,2.0,0.0,1.0,1.0,2.0,1,9.0
150,c:5632,starnet interactive,web,NaN,web Software Developer StarNet Interactive i...,NaN,acquired,acquisition,2008-05-20 00:00:00,ISR,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1,7.0
181,c:1379,esnips,network_hosting,NaN,network_hosting eSnips is a media dashboar...,NaN,acquired,acquisition,2008-11-01 00:00:00,ISR,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1,7.0
233,c:9317,paymo,mobile,NaN,mobile Trusted Mobile Payments Paymo is a mo...,NaN,acquired,acquisition,2009-06-01 00:00:00,USA,...,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,1,5.0
300,c:867,gamerdna,web,2006,web Social networking for gamers GamerDNA is...,NaN,acquired,acquisition,2009-12-21 00:00:00,USA,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1,6.0
343,c:1591,scout labs,enterprise,NaN,"enterprise Scout Labs is a powerful, web-b...",NaN,acquired,acquisition,2010-05-01 00:00:00,USA,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1,7.0
552,c:12957,brickfish,software,2005,software Social Media Marketing Brickfish pr...,NaN,acquired,acquisition,2011-04-01 00:00:00,USA,...,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,1,3.0
705,c:83902,doodledeals,web,2009,web Discovery/daily deal site for families D...,NaN,acquired,acquisition,2011-12-08 00:00:00,USA,...,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,1,4.0
822,c:967,salesforce buddy media,enterprise,2007,enterprise Social Media Technology Company B...,NaN,acquired,acquisition,2012-06-04 00:00:00,USA,...,0.0,0.0,0.0,4.0,0.0,1.0,0.0,0.0,1,6.0
890,c:55427,wanderfly,other_category,2009,travel Travel Discovery Wanderfly is the bes...,NaN,acquired,acquisition,2012-10-02 00:00:00,USA,...,0.0,0.0,0.0,4.0,0.0,1.0,0.0,0.0,1,3.0
909,c:15018,silver tail systems,analytics,2008,analytics Business Logic Abuse Fraud Protect...,NaN,acquired,acquisition,2012-10-30 00:00:00,USA,...,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,1,5.0
923,c:166854,one jackson,ecommerce,2012,ecommerce crowd-sourced kids' clothing Crowd...,NaN,acquired,acquisition,2012-11-14 00:00:00,NaN,...,0.0,0.0,0.0,4.0,0.0,1.0,0.0,0.0,1,1.0
939,c:40857,toura,mobile,2009,mobile Mobile App Development Platform Toura...,NaN,acquired,acquisition,2012-12-11 00:00:00,USA,...,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,1,4.0
948,c:31158,payvment,ecommerce,2009,ecommerce Social Network eCommerce Platform ...,NaN,acquired,acquisition,2013-01-01 00:00:00,USA,...,0.0,0.0,0.0,4.0,0.0,1.0,1.0,0.0,1,4.0
960,c:39029,foodspotting,other_category,2009,hospitality Find and share food recommendati...,NaN,acquired,acquisition,2013-01-29 00:00:00,USA,...,0.0,0.0,0.0,3.0,0.0,1.0,0.0,1.0,1,3.0
1091,c:162116,gradient x,mobile,2012,mobile Programmatic Mobile Marketing Platfor...,NaN,acquired,acquisition,2013-09-05 00:00:00,USA,...,0.0,0.0,0.0,3.0,0.0,1.0,1.0,1.0,1,2.0
1095,c:157361,blink booking,other_category,2012,travel Blink Booking is an app that helps trav...,NaN,acquired,acquisition,2013-09-09 00:00:00,GBR,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1,2.0

## XO group - The Knot

In [35]:
ipos.loc[17,:]

id                                                                      c:2720
normalized_name                                                       xo group
category_code                                                              web
founded_at                                                                1996
description                  web The XO Group is a lifestage media and tech...
closed_at                                                                  NaN
status                                                                     ipo
exit                                                                       ipo
exit_date                                                  1999-12-02 00:00:00
country_code                                                               USA
state_code                                                                  NY
participants_a                                                               1
raised_amount_usd_a                                                      3e+06
timediff_founded_series_a                                               1_less
rounds_before_a                                                              0
graduate                                                                     0
undergrad                                                                    0
professional                                                                 0
degree_count                                                                 0
MBA_bool                                                                     0
cs_bool                                                                      0
phd_bool                                                                     0
founder_count                                                                2
top_20_bool                                                                  0
female_ratio                                                                 1
mean_comp_founded_before                                                     0
mean_comp_worked_before                                                      0
target                                                                       1
time_diff_series_a_now                                                      10
Name: 17, dtype: object

In [36]:
companies_no_clean.loc[17,:]

id                                                                      c:2720
normalized_name                                                       xo group
category_code                                                              web
founded_at                                                 1996-01-01 00:00:00
description                  web The XO Group is a lifestage media and tech...
closed_at                                                                  NaN
status                                                                     ipo
exit                                                                       ipo
exit_date                                                  1999-12-02 00:00:00
country_code                                                               USA
state_code                                                                  NY
date_series_a                                              1996-01-01 00:00:00
participants_a                                                               1
raised_amount_usd_a                                                    1.6e+06
timediff_founded_series_a                                                    0
rounds_before_a                                                              0
raised_before_a                                                              0
participants_before_a                                                        0
phd                                                                          0
MBA                                                                          0
cs                                                                           0
graduate                                                                     0
undergrad                                                                    0
professional                                                                 0
degree_count                                                                 0
MBA_bool                                                                     0
cs_bool                                                                      0
phd_bool                                                                     0
founder_count                                                                2
top_5                                                                        0
top_20                                                                       0
top_50                                                                       0
top_5_bool                                                                   0
top_20_bool                                                                  0
top_50_bool                                                                  0
n_female_founders                                                            1
female_ratio                                                               0.5
mean_comp_founded_ever                                                       1
mean_comp_founded_before                                                     0
mean_comp_worked_before                                                      0
target                                                                       1
Name: 17, dtype: object

## Epals - husband not in the database but went to Princeton, sold a comp to AOL before, etc. >> Clearly the guy knew what he was doing

In [37]:
ipos.loc[1157,:]

id                                                                      c:2623
normalized_name                                                          epals
category_code                                                              web
founded_at                                                                1996
description                  web   Online Education Community ePals Corpora...
closed_at                                                                  NaN
status                                                                     ipo
exit                                                                       ipo
exit_date                                                  2020-09-08 00:00:00
country_code                                                               USA
state_code                                                                  VA
participants_a                                                               1
raised_amount_usd_a                                                        NaN
timediff_founded_series_a                                              10_more
rounds_before_a                                                              1
graduate                                                                     1
undergrad                                                                    1
professional                                                                 1
degree_count                                                                 1
MBA_bool                                                                     0
cs_bool                                                                      0
phd_bool                                                                     0
founder_count                                                                1
top_20_bool                                                                  1
female_ratio                                                                 1
mean_comp_founded_before                                                     0
mean_comp_worked_before                                                      0
target                                                                       1
time_diff_series_a_now                                                       6
Name: 1157, dtype: object

## Tesaro - very experienced founders in biotech/pharma plenty of experience that is not reflected here

In [40]:
ipos.loc[777,:]

id                                                                     c:48759
normalized_name                                                         tesaro
category_code                                                          biotech
founded_at                                                                2010
description                  biotech     Founded in 2010, TESARO is a priva...
closed_at                                                                  NaN
status                                                                     ipo
exit                                                                       ipo
exit_date                                                  2012-03-23 00:00:00
country_code                                                               USA
state_code                                                                  MA
participants_a                                                               1
raised_amount_usd_a                                                      1e+08
timediff_founded_series_a                                               1_less
rounds_before_a                                                              0
graduate                                                                     0
undergrad                                                                    0
professional                                                                 0
degree_count                                                                 0
MBA_bool                                                                     0
cs_bool                                                                      0
phd_bool                                                                     0
founder_count                                                                2
top_20_bool                                                                  0
female_ratio                                                                 1
mean_comp_founded_before                                                     0
mean_comp_worked_before                                                      0
target                                                                       1
time_diff_series_a_now                                                       4
Name: 777, dtype: object

In [41]:
companies_no_clean.loc[777,:]

id                                                                     c:48759
normalized_name                                                         tesaro
category_code                                                          biotech
founded_at                                                 2010-03-01 00:00:00
description                  biotech     Founded in 2010, TESARO is a priva...
closed_at                                                                  NaN
status                                                                     ipo
exit                                                                       ipo
exit_date                                                  2012-03-23 00:00:00
country_code                                                               USA
state_code                                                                  MA
date_series_a                                              2010-05-28 00:00:00
participants_a                                                               1
raised_amount_usd_a                                                      6e+07
timediff_founded_series_a                                             0.240936
rounds_before_a                                                              0
raised_before_a                                                              0
participants_before_a                                                        0
phd                                                                          0
MBA                                                                          0
cs                                                                           0
graduate                                                                     0
undergrad                                                                    0
professional                                                                 0
degree_count                                                                 0
MBA_bool                                                                     0
cs_bool                                                                      0
phd_bool                                                                     0
founder_count                                                                2
top_5                                                                        0
top_20                                                                       0
top_50                                                                       0
top_5_bool                                                                   0
top_20_bool                                                                  0
top_50_bool                                                                  0
n_female_founders                                                            1
female_ratio                                                               0.5
mean_comp_founded_ever                                                       1
mean_comp_founded_before                                                     0
mean_comp_worked_before                                                      0
target                                                                       1
Name: 777, dtype: object

# Dena - video games

In [44]:
ipos.loc[37,:]

id                                                                      c:9636
normalized_name                                                           dena
category_code                                                   other_category
founded_at                                                                1999
description                  games_video   Mobile Internet DeNA Co., Ltd. (...
closed_at                                                                  NaN
status                                                                     ipo
exit                                                                       ipo
exit_date                                                  2005-02-16 00:00:00
country_code                                                     other_country
state_code                                                                 NaN
participants_a                                                               3
raised_amount_usd_a                                                      2e+07
timediff_founded_series_a                                                  2_9
rounds_before_a                                                              0
graduate                                                                     0
undergrad                                                                    1
professional                                                                 1
degree_count                                                                 1
MBA_bool                                                                     1
cs_bool                                                                      0
phd_bool                                                                     0
founder_count                                                                1
top_20_bool                                                                  0
female_ratio                                                                 1
mean_comp_founded_before                                                     0
mean_comp_worked_before                                                      0
target                                                                       1
time_diff_series_a_now                                                      10
Name: 37, dtype: object

In [45]:
companies_no_clean.loc[37,:]

id                                                                      c:9636
normalized_name                                                           dena
category_code                                                      games_video
founded_at                                                 1999-03-04 00:00:00
description                  games_video   Mobile Internet DeNA Co., Ltd. (...
closed_at                                                                  NaN
status                                                                     ipo
exit                                                                       ipo
exit_date                                                  2005-02-16 00:00:00
country_code                                                               JPN
state_code                                                                 NaN
date_series_a                                              2000-03-23 00:00:00
participants_a                                                               3
raised_amount_usd_a                                                1.20839e+07
timediff_founded_series_a                                              1.05409
rounds_before_a                                                              0
raised_before_a                                                              0
participants_before_a                                                        0
phd                                                                          0
MBA                                                                          1
cs                                                                           0
graduate                                                                     0
undergrad                                                                    1
professional                                                                 0
degree_count                                                                 2
MBA_bool                                                                     1
cs_bool                                                                      0
phd_bool                                                                     0
founder_count                                                                1
top_5                                                                        0
top_20                                                                       0
top_50                                                                       0
top_5_bool                                                                   0
top_20_bool                                                                  0
top_50_bool                                                                  0
n_female_founders                                                            1
female_ratio                                                                 1
mean_comp_founded_ever                                                       1
mean_comp_founded_before                                                     0
mean_comp_worked_before                                                      0
target                                                                       1
Name: 37, dtype: object

## Lasso Logic

In [54]:
acquisitions.loc[44,:]

id                                                                     c:15920
normalized_name                                                    lasso logic
category_code                                                         software
founded_at                                                                 NaN
description                  software     Lasso Logic offers continuous dat...
closed_at                                                                  NaN
status                                                                acquired
exit                                                               acquisition
exit_date                                                  2005-11-22 00:00:00
country_code                                                               USA
state_code                                                                  CA
participants_a                                                               2
raised_amount_usd_a                                                      5e+06
timediff_founded_series_a                                                  NaN
rounds_before_a                                                              0
graduate                                                                     1
undergrad                                                                    0
professional                                                                 0
degree_count                                                                 1
MBA_bool                                                                     0
cs_bool                                                                      0
phd_bool                                                                     0
founder_count                                                                2
top_20_bool                                                                  0
female_ratio                                                                 1
mean_comp_founded_before                                                     1
mean_comp_worked_before                                                      2
target                                                                       1
time_diff_series_a_now                                                       9
Name: 44, dtype: object

In [61]:
companies_no_clean[companies_no_clean.id=="c:15920"].T

                                                                         179
id                                                                   c:15920
normalized_name                                                  lasso logic
category_code                                                       software
founded_at                                                               NaT
description                software     Lasso Logic offers continuous dat...
closed_at                                                                NaN
status                                                              acquired
exit                                                             acquisition
exit_date                                                2005-11-22 00:00:00
country_code                                                             NaN
state_code                                                               NaN
date_series_0                                            2005-07-01 00:00:00
participants_0                                                             2
raised_amount_usd_0                                                    4e+06
timediff_founded_series_0                                                NaN
phd                                                                        0
MBA                                                                        0
cs                                                                         0
graduate                                                                 0.5
undergrad                                                                  0
professional                                                               0
degree_count                                                             0.5
MBA_bool                                                                   0
cs_bool                                                                    0
phd_bool                                                                   0
founder_count                                                              2
top_5                                                                      0
top_20                                                                     0
top_50                                                                     0
top_5_bool                                                                 0
top_20_bool                                                                0
top_50_bool                                                                0
n_female_founders                                                          1
female_ratio                                                             0.5
mean_comp_founded_ever                                                     2
mean_comp_founded_before                                                   1
mean_comp_worked_before                                                  1.5
target                                                                     1

## starnet interactive - tween website - no info on education of founder

In [62]:
companies_no_clean[companies_no_clean.id=="c:5632"].T

                                                                         494
id                                                                    c:5632
normalized_name                                          starnet interactive
category_code                                                            web
founded_at                                                               NaT
description                web   Software Developer StarNet Interactive i...
closed_at                                                                NaN
status                                                              acquired
exit                                                             acquisition
exit_date                                                2008-05-20 00:00:00
country_code                                                             ISR
state_code                                                               NaN
date_series_0                                            2006-12-21 00:00:00
participants_0                                                             3
raised_amount_usd_0                                                  2.7e+06
timediff_founded_series_0                                                NaN
phd                                                                        0
MBA                                                                        0
cs                                                                         0
graduate                                                                   0
undergrad                                                                  0
professional                                                               0
degree_count                                                               0
MBA_bool                                                                   0
cs_bool                                                                    0
phd_bool                                                                   0
founder_count                                                              1
top_5                                                                      0
top_20                                                                     0
top_50                                                                     0
top_5_bool                                                                 0
top_20_bool                                                                0
top_50_bool                                                                0
n_female_founders                                                          1
female_ratio                                                               1
mean_comp_founded_ever                                                     1
mean_comp_founded_before                                                   0
mean_comp_worked_before                                                    0
target                                                                     1

## ensnips

In [63]:
companies_no_clean[companies_no_clean.id=="c:1379"].T

                                                                         607
id                                                                    c:1379
normalized_name                                                       esnips
category_code                                                network_hosting
founded_at                                                               NaT
description                network_hosting     eSnips is a media dashboar...
closed_at                                                                NaN
status                                                              acquired
exit                                                             acquisition
exit_date                                                2008-11-01 00:00:00
country_code                                                             ISR
state_code                                                               NaN
date_series_0                                            2005-12-01 00:00:00
participants_0                                                             1
raised_amount_usd_0                                                    1e+06
timediff_founded_series_0                                                NaN
phd                                                                        0
MBA                                                                        0
cs                                                                         0
graduate                                                                   0
undergrad                                                                  0
professional                                                               0
degree_count                                                               0
MBA_bool                                                                   0
cs_bool                                                                    0
phd_bool                                                                   0
founder_count                                                              1
top_5                                                                      0
top_20                                                                     0
top_50                                                                     0
top_5_bool                                                                 0
top_20_bool                                                                0
top_50_bool                                                                0
n_female_founders                                                          1
female_ratio                                                               1
mean_comp_founded_ever                                                     1
mean_comp_founded_before                                                   0
mean_comp_worked_before                                                    1
target                                                                     1

In [65]:
acquisitions[acquisitions.female_ratio==1][acquisitions.top_20_bool==0][acquisitions.phd_bool==0][acquisitions.cs_bool==0]\
[acquisitions.mean_comp_worked_before==0]

/Users/joannavitiello/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
/Users/joannavitiello/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
/Users/joannavitiello/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
/Users/joannavitiello/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,id,normalized_name,category_code,founded_at,description,closed_at,status,exit,exit_date,country_code,...,MBA_bool,cs_bool,phd_bool,founder_count,top_20_bool,female_ratio,mean_comp_founded_before,mean_comp_worked_before,target,time_diff_series_a_now
150,c:5632,starnet interactive,web,NaN,web Software Developer StarNet Interactive i...,NaN,acquired,acquisition,2008-05-20 00:00:00,ISR,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1,7.0
233,c:9317,paymo,mobile,NaN,mobile Trusted Mobile Payments Paymo is a mo...,NaN,acquired,acquisition,2009-06-01 00:00:00,USA,...,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,1,5.0
300,c:867,gamerdna,web,2006,web Social networking for gamers GamerDNA is...,NaN,acquired,acquisition,2009-12-21 00:00:00,USA,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1,6.0
343,c:1591,scout labs,enterprise,NaN,"enterprise Scout Labs is a powerful, web-b...",NaN,acquired,acquisition,2010-05-01 00:00:00,USA,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1,7.0
552,c:12957,brickfish,software,2005,software Social Media Marketing Brickfish pr...,NaN,acquired,acquisition,2011-04-01 00:00:00,USA,...,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,1,3.0
705,c:83902,doodledeals,web,2009,web Discovery/daily deal site for families D...,NaN,acquired,acquisition,2011-12-08 00:00:00,USA,...,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,1,4.0
822,c:967,salesforce buddy media,enterprise,2007,enterprise Social Media Technology Company B...,NaN,acquired,acquisition,2012-06-04 00:00:00,USA,...,0.0,0.0,0.0,4.0,0.0,1.0,0.0,0.0,1,6.0
890,c:55427,wanderfly,other_category,2009,travel Travel Discovery Wanderfly is the bes...,NaN,acquired,acquisition,2012-10-02 00:00:00,USA,...,0.0,0.0,0.0,4.0,0.0,1.0,0.0,0.0,1,3.0
909,c:15018,silver tail systems,analytics,2008,analytics Business Logic Abuse Fraud Protect...,NaN,acquired,acquisition,2012-10-30 00:00:00,USA,...,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,1,5.0
923,c:166854,one jackson,ecommerce,2012,ecommerce crowd-sourced kids' clothing Crowd...,NaN,acquired,acquisition,2012-11-14 00:00:00,NaN,...,0.0,0.0,0.0,4.0,0.0,1.0,0.0,0.0,1,1.0
939,c:40857,toura,mobile,2009,mobile Mobile App Development Platform Toura...,NaN,acquired,acquisition,2012-12-11 00:00:00,USA,...,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,1,4.0
948,c:31158,payvment,ecommerce,2009,ecommerce Social Network eCommerce Platform ...,NaN,acquired,acquisition,2013-01-01 00:00:00,USA,...,0.0,0.0,0.0,4.0,0.0,1.0,1.0,0.0,1,4.0
1095,c:157361,blink booking,other_category,2012,travel Blink Booking is an app that helps trav...,NaN,acquired,acquisition,2013-09-09 00:00:00,GBR,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1,2.0